.list-group-item-action{
    transition: background-color 0.5s ease;
}

.list-group-item-action:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: underline;
}

.icon-color{
    color: white;
}

.dropdown-text{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after{
    color: white;
}

.form-check-input:checked ~ .form-check-label{
    text-decoration: line-through;
    color: #666666;
  }