{% extends 'base.html' %}
{% block content %}


<h1 class="title text-center text-dark" style="display: flex; flex-direction: column; justify-content: flex-start;">Pin Your Notes!</h1>
<br><br><br>

<div class="card mx-auto" style="width: 25rem;">
    <div class="card-body">
        <div class="card-title"><h3 class="title text-center text=dark">Login</h3></div>
    </div>
    <div class="card-body">
      {%- for message in get_flashed_messages() %}
        <div class="alert alert-danger">
          {{message}}
        </div>
      {%- endfor %}
        <form action="{{url_for('auth.login_post')}}" method="POST">
            <div class="form-group">
              <input type="email" name="email" class="form-control"   placeholder="Your Email">
            </div>
            <br>
            <div class="form-group">
              <input type="password" name="password" class="form-control"  placeholder="Your Password">
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="card-body">
            <p class="card-text"> Dont have an account? <a class="card-link" href="{{url_for('auth.signup')}}">Signup</a> your account!</p>
        </div>
    </div>
  </div>
{% endblock %}